{% extends "layout.html" %}

{% block body %}
<h1>Search</h1>
<form action="/search" method="get">
    <input name="query" type="text" placeholder="Show/Movie" autofocus>
    <button type="submit">Search</button>
</form>
{% for result in results %}
        {% endfor %}
    </tbody>
</table>
<div class="card" style="width: 18rem;">
  <img src="{{ result.show.image.medium }}" alt="{{ result.show.name }}">
  <div class="card-body">
    <h5 class="card-title"> {{result.show.name}} </h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">See More</a>
  </div>
</div>
    
{% endblock %}