{% extends "layout.html" %}

{% block body %}
<h1>Updates</h1>

{% if updates %}
    {% for update in updates %}
        <p>
            {{ update["show"][2] }}: {{ update["episodes"]|length }} new episodes
        </p>
        {% for episode in update["episodes"] %}
            <p>Season {{ episode["season"] }}, Episode {{ episode["number"] }}: {{ episode["name"] }} | Aired {{episode["airdate"]}}</p>
        {% endfor %}


    {% endfor %}
{% else %}
    <p>No new episodes found.</p>
{% endif %}
{% endblock %}